<header class="header">
  <div class="container header__container">
    <div class="logo header__logo">
      <img src="assets/images/logo.png" alt="Логотип">
    </div>
    <div class="burger" id="burger"></div>
    <nav class="menu" id="menu">
      <ul class="menu__list">
        <li>
          <a class="menu__item" href="javascript: void(0)" (click)="scrollTo(menu)">Пироженки</a>
        </li>
        <li>
          <a class="menu__item" href="javascript: void(0)" (click)="scrollTo(company)">О нас</a>
        </li>
        <li>
          <a class="menu__item" href="javascript: void(0)" (click)="scrollTo(order)">Оформить заказ</a>
        </li>
      </ul>
      <div class="menu__close">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
                                c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
                                c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
                                L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
                                c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
                                c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
                                c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
                        </g>
                    </g>
                </svg>
      </div>
    </nav>
    <div class="contacts header__contacts">{{ contactPhone | customPhone }}</div>
  </div>
</header>

<section class="main">
  <div class="container main__container">
    <h1 class="main__title">Мягкие французские пироженки Macaroons</h1>
    <div class="main__text">
      Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
    </div>
    <div class="main__action">
      <a class="btn btn_size_medium btn_link btn_link_big" href="javascript: void(0)" (click)="scrollTo(menu)"
         appBtnBackground [appBtnBackgroundDefault]="'rgb(130, 19, 40)'"
         [appBtnBackgroundHover]="'rgba(130, 19, 40, 0.8)'">
        Выбрать макарун
      </a>
    </div>
    <div class="main__image">
      <img class="main__image-img" src="assets/images/main-image.png" alt="Коробка с пирожными">
    </div>
  </div>
</section>

<section class="company" #company>
  <div class="container company__container">
    <h2 class="second-title second-title_color_dark company__second-title" id="company">
      Мы печём для вас вкуснейшие макаруны уже более 10 лет
    </h2>
    <div class="text-info company__text-info">
      Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
      ароматизаторов,
      красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей, маргарина, разрыхлителей и
      улучшителей муки.
    </div>
    <div class="company__image">
      <img class="company__image-img" src="assets/images/company-image.png" alt="Макаруна">
    </div>
    <div class="company__advantages">
      <advantages-component *ngFor="let advantage of advantages; let i = index"
                            [title]="advantage.title" [description]="advantage.description" [number]="i + 1"
      ></advantages-component>
    </div>
  </div>
</section>

<section class="products" #menu>
  <div class="container">
    <h2 class="second-title second-title_color_white" id="products">Выберите свой макарун</h2>
    <div class="products__grid">
      <product-component *ngFor="let product of products; let i = index"
                         [imageNumber]="i + 1" [index]="i" [title]="product.title"
                         [price]="parseFloat(product.price.replace(',', '.'))"
                         (addToCartEvent)="addToCart(product, order)"
      ></product-component>
    </div>
  </div>
</section>

<section class="order" #order>
  <div class="container order__container">
    <img class="strawberry-thumb order__strawberry-thumb_left" src="assets/images/order-strawberry-left.png"
         alt="Клубника">
    <img class="strawberry-thumb order__strawberry-thumb_right" src="assets/images/order-strawberry-right.png"
         alt="Клубника">
    <img class="order__image" src="assets/images/order-image.png" alt="Макаруны">
    <h2 class="second-title second-title_color_dark order__second-title" id="order">Закажите макарун!</h2>
    <div class="text-info order__text-info">Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего
      пекаря!
    </div>
    <form action="#" class="order__form">
      <span class="order__span order__span_first">Ваш выбор</span>
      <label>
        <input class="order__input" type="text" name="macaroon-choice"
               placeholder="Напишите, что хотите заказать..." [(ngModel)]="orderInfo.productTitle">
      </label>
      <div class="order__input-inner">
        <span class="order__span order__span_second">Заполните данные для заказа</span>
        <label>
          <input class="order__input" type="text" name="client-name" placeholder="Ваше имя"
                 [(ngModel)]="orderInfo.name">
        </label>
        <label>
          <input class="order__input" type="tel" name="client-phone" placeholder="+375 (__) ___-__-__"
                 [(ngModel)]="orderInfo.phone">
        </label>

        <div class="order__action">
          <a class="btn btn_size_big btn_link btn_link_big order__btn" href="javascript: void(0)" appBtnBackground>
            Оформить заказ
          </a>
        </div>
      </div>
    </form>
  </div>
</section>

<footer class="footer">
  <div class="container footer-container">
    <div class="logo footer__logo">
      <img src="assets/images/logo.png" alt="Логотип">
    </div>
    <span class="footer__rights">Все права защищены, 2020</span>
    <a class="footer__inner" href="{{ instagramLink }}">
      <img class="footer__icon" src="assets/images/instagram-logo.png" alt="Логотип Instagram">
      <span class="footer__text">Мы в Instagram</span>
    </a>
    <div class="contacts footer__contacts">{{ contactPhone | customPhone }}</div>
  </div>
</footer>

<div class="present" *ngIf="showPresent">
  <div class="present__image">
    <div class="present__inner">
      <div class="present__footnote">
        <div class="present__text">{{ cartService.totalCost | currency: "руб." }}</div>
      </div>
    </div>
    <a href="#order">
      <img class="present__cart" src="assets/images/cart.png" alt="Cart">
    </a>
    <div class="present__cart-count">{{ cartService.totalQuantity }}</div>
  </div>
</div>
