@font-face {
  font-family: Gilroy;
  src: url("assets/fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: GilroyMedium;
  src: url("assets/fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: GilroyBold;
  src: url("assets/fonts/Gilroy-Bold.woff") format("woff");
}

@font-face {
  font-family: GilroyExtraBold;
  src: url("assets/fonts/Gilroy-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: Tavolga;
  src: url("assets/fonts/Tavolga Free.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #eba8b1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}


@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 1180px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.btn {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}

.btn.btn_size_medium {
  width: 240px;
  height: 60px;
  border-radius: 30px;
}

.btn.btn_link {
  color: rgb(255, 255, 255);
  font-family: GilroyBold, sans-serif;
}

.btn.btn_link_big {
  font-size: 18px;
  padding: 22px 21px 21px 21px;
}

.btn.btn_size_tiny {
  width: 130px;
  border-radius: 25px;
}

.btn.btn_link_xs {
  font-size: 16px;
  padding: 19px 19px 20px 19px;
  line-height: 0.7;
}

.btn.btn_size_big {
  width: 294px;
  height: 60px;
  border-radius: 30px;
}


@media screen and (max-width: 500px) {
  .btn.order__btn {
    width: 100%;
  }
}
