@font-face {
  font-family: Gilroy;
  src: url("assets/fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: GilroyMedium;
  src: url("assets/fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: GilroyBold;
  src: url("assets/fonts/Gilroy-Bold.woff") format("woff");
}

@font-face {
  font-family: GilroyExtraBold;
  src: url("assets/fonts/Gilroy-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: Tavolga;
  src: url("assets/fonts/Tavolga Free.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #eba8b1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}


@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 1180px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
